<div class="profile_head text-center col-xs-12 ">
  <div class="avatar">
    ava
  </div>
  <div class="text-center profile_info">
    <div class="user_name"><%= @user.nick %></div>
    <div class="user_exists"><%= date_diff(@user.created_at) %> зареєстрований </div>
    <div class="user_rating"><%= @user.rating %> рейтинг</div>
    <div class="user_activity">
      <span class="user_posts_q">постів <%= @user.posts.length %></span>
      <span class="user_comments_q">коментів <%= @user.comments.length %></span>
    </div>
    <div class="user_votes">
      <span>поставив</span>
      <span class="user_voted_p"><%= @votes.where(vote_flag: 1).length %> плюси</span>
      <span class="user_voted_n"><%= @votes.where(vote_flag: 0).length %> мінуса</span>
    </div>
  </div>
  <div class="profile_navigation">
    <ul class="nav nav-pills nav-justified">
      <li role="presentation" class="active"><%= link_to 'Мої пости', my_posts_profiles_path %></li>
      <li role="presentation"><%= link_to 'Мої Коментарі', my_comments_profiles_path %></li>
      <li role="presentation"><%= link_to 'Вподобані пости', up_voted_profiles_path %></li>
      <li role="presentation"><%= link_to 'Налаштування', settings_profiles_path %></li>
    </ul>
  </div>
  <div id="nav">
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
</div>