<nav id="menu_main" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="<%= root_path %>"><img src="<%= get_main_logo %>" alt="logo" id="logo"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav left_buttons">
        <li class="active"><a href="<%= root_path %>">Гаряче</a></li>
        <li><a href="<%= best_posts_path %>">Найкраще</a></li>
        <li><a href="<%= most_recent_posts_path %>">Нове</a></li>
        <li>
          <span class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
            Більше
          </span>
          <ul class="dropdown-menu" role="menu">
            <% @tags.each do |tag| %>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= tag_path(tag.name) %>"><%= tag.name %></a></li>
            <% end %>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="right_buttons search_div">
            <div class="search_icon">
              <i class="glyphicon glyphicon-search" id="search_icon"></i>
            </div>
            <%= form_tag search_posts_path, :method => :get, id: 'search_form' do %>
              <input type="text" name="search" id="search">
              <i class="glyphicon glyphicon-search" id="search_submit"></i>
            <% end %>
          </div>
        </li>
        <li><a class="right_buttons" href="<%=  new_post_path %>"><i class="glyphicon glyphicon-plus"></i></a></li>
        <% if current_user %>
            <li><a class="right_buttons" href="<%= my_posts_profiles_path %>"><i class="glyphicon glyphicon-user"></i></a></li>
            <li><a class="right_buttons" href="<%= settings_profiles_path %>"><i class="glyphicon glyphicon-cog"></i></a></li>
        <% else %>
            <li><a role="button"  data-toggle="modal" class="right_buttons last_cell" id="user_actions" href="#"><i class="glyphicon glyphicon-log-in"></i></a></li>
        <% end %>
        <% if is_admin? %>
          <li><a class="right_buttons" href="<%= users_admins_path %>">admin</a></li>
        <% end %>
        <% if current_user %>
          <li>
            <%= link_to "", :logout, method: :post, class: "glyphicon glyphicon-log-out right_buttons last_cell" %>
          </li>
        <% end %>
      </ul>
  </div><!-- /.container-fluid -->
  <div class="bottom_line"></div>
</nav>