<div class="comment_item" data-comment="<%= comment.code %>">
  <div class="head_comment">
    <span class="comment_owner">
      <%= comment.user.nick %>
      <%= link_to "", comment, method: :put, class: "glyphicon glyphicon-trash" if is_admin?  %>
    </span>
    <span class="rating_comment"><%= item_rating(comment) %> points</span>
  </div>
  <% if comment.banned %>
    <div class="comment_content">Видалений модератором</div>
  <% else %>
    <div class="comment_content"><%= comment.com_body %></div>
  <% end %>
  <div class="comment_user_actions">
  	<a class="comment_reply" href="javascript:void(0)">Відповісти</a>
    <%= display_plus_minus_comment(comment) %>
  </div>
</div>