<div class="profile_head col-xs-12">
  <div class="profile_head_panel"></div>
  <div class="profile-user-info">
    <div class="avatar">
      <img class="profile-user-avatar-preview img-circle" width="120" src="<%= get_user_avatar(@user) %>"/>
    </div>
    <div class="avatar-column"></div>
    <div class="profile-user-data">
      <div class="user_name"><%= @user.nick %></div>
      <div class="profile-user-activity">
        <div class="profile-user-activity-item">
          <span class="glyphicon glyphicon-stats"></span>
          <span class="profile-user-activity-item-text">Рейтинг</span>
          <div class="profile-user-activity-item-quantity"><%= @user.rating %></div>
        </div>
        <div class="profile-user-activity-item">
          <span class="glyphicon glyphicon-file"></span>
          <span class="profile-user-activity-item-text">Пости</span>
          <div class="profile-user-activity-item-quantity"><%= @user.posts.length %></div>
        </div>
        <div class="profile-user-activity-item">
          <span class="glyphicon glyphicon-comment"></span>
          <span class="profile-user-activity-item-text">Коменти</span>
          <div class="profile-user-activity-item-quantity"><%= @user.comments.length %></div>
        </div>
        <div class="profile-user-activity-item">
          <span class="glyphicon glyphicon-thumbs-up"></span>
          <span class="profile-user-activity-item-text">Аплодував</span>
          <div class="profile-user-activity-item-quantity"><%= @votes.where(vote_flag: 1).length %></div>
        </div>
        <div class="profile-user-activity-item">
          <span class="glyphicon glyphicon-thumbs-down"></span>
          <span class="profile-user-activity-item-text">Проти</span>
          <div class="profile-user-activity-item-quantity"><%= @votes.where(vote_flag: 0).length %></div>
        </div>
        <div class="profile-user-activity-item">
          <span class="glyphicon glyphicon-calendar"></span>
          <span class="profile-user-activity-item-text">На сайті</span>
          <div class="profile-user-activity-item-quantity"><%= date_diff(@user.created_at) %></div>
        </div>
      </div>    
    </div>
    <div class="profile-user-navigation">
      <div class="profile-user-navigation-item<%= user_profile_active_page(1) %>">
        <div class="navigation-item-circle-block">
          <div class="navigation-item-circle"></div>
        </div>
        <div class="navigation-item-text-block">
          <%= link_to 'Пости', user_posts_user_path %>
        </div>
      </div>
      <div class="profile-user-navigation-item<%= user_profile_active_page(2) %>">
        <div class="navigation-item-circle-block">
          <div class="navigation-item-circle"></div>
        </div>
        <div class="navigation-item-text-block">
          <%= link_to 'Коментував', user_comments_user_path %>
        </div>
      </div>
      <div class="profile-user-navigation-item<%= user_profile_active_page(3) %>">
        <div class="navigation-item-circle-block">
          <div class="navigation-item-circle"></div>
        </div>
        <div class="navigation-item-text-block">
          <%= link_to 'Аплодував', user_likes_user_path %>
        </div>
      </div>
    </div>
  </div>

  <div id="nav">
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
</div>