<div class="post">
  <div class="post_title">
    <%= link_to post.title, post %>
    <% if is_admin? %>
      <%= link_to "", post, method: :delete, class: "glyphicon glyphicon-trash" %>
    <% end %>
  </div>
  <div class="post_description">
    <%= post.description %>
  </div>
  <div class="post_content">
    <% if post.content_type == "image" %>
      <img class="post_image_view" src="<%= image_type_path(post.content) %>"/>
    <% else %>
      <iframe class="post_video_view" width="500" height="310" src="<%= post.content %>" frameborder="0"></iframe>
    <% end %>
  </div>

  <div class="post_bottom_1 row">
    <span class="rating_post"><strong><%= item_rating(post) %></strong></span>
    <span class="amount_comments"><strong><%= comments_notification(@comments_count ? @comments_count : post.comments.count)  %></strong></span>
      <span class="post_tags">
        <% post.tags.each do |tag|%>
         <%= link_to tag.name, tag_path(tag.name), class: 'tag_post_index' %>
        <% end %>
      </span>
  </div>
  <div class="post_bottom_2">
    <%= display_plus_minus(post)%>
    <div class="social-likes" data-title="Drafter">
      <div class="facebook" title="Share link on Facebook">Facebook</div>
      <div class="twitter" title="Share link on Twitter">Twitter</div>
      <div class="plusone" title="Share link on Google+">Google+</div>
      <div class="vkontakte" title="Share link on VK">VK</div>
    </div>
  </div>
</div>