<div class="post">
  <div class="post_title">
    <%= link_to post.title, post %>
  </div>
  <div class="post_description">
    <%= post.description %>
  </div>
  <div class="post_bottom_1 row">
    <span class="rating_post"><strong><%= post_rating(post) %></strong></span>
    <span class="amount_comments"><strong><%= comments_notification(@comments_count ? @comments_count : post.comments.count)  %></strong></span>
      <span class="post_tags">
        <% post.tags.each do |tag|%>
         <%= link_to tag.name, tag_path(tag), class: 'tag_post_index' %>
        <% end %>
      </span>
  </div>
  <div class="post_bottom_2">
    <%= display_plus_minus(post)%>
    <div class="glyphicon glyphicon-envelope col-xs-offset-1"></div>
    <div class="glyphicon glyphicon-plus col-xs-offset-5"></div>
  </div>
</div>