<div id="post-builder" class="col-xs-12">
  <%= render 'post_builder_attachment'%>
  <%= render 'post_builder_content'%>
  <%= render 'post_builder_actions'%>
  
  <%= render 'add_from_url_modal'%>
  <%= render 'add_video_modal'%>
  <%= render 'add_text_modal'%>
  <%= render 'edit_title_modal'%>
</div>
